<main class="container">
  <div class="bg-light p-5 rounded">
    <h2 class="text-dark">Forget the names of your friends and their data?</h2>
    <hr class="my-4">
    <h3>We have the solution!</h3>
  </div>
</main>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />